Hola {{ username }},

Recibimos una solicitud para cambiar tu contraseña.

Solamente tienes que copiar y pegar el siguiente texto secreto:

{{ token }}

Ese texto secreto va a expirar dentro de dos horas, pero puedes pedir otro.

Si no necesitas cambiar tu contraseña, por favor ignora este mensaje.

No hay de que preocuparse, siempre que nadie más tenga accesso a tu cuenta de correo.