.bg-entiras-primary {
  background-color: #074c97
}
.bg-entiras-secondary {
  background-color: #fd772d
}
.btn-outline-secondary {
  color: #fd772d;
  border-color: #fd772d;
}
.btn-outline-secondary:hover {
  background-color: #fd772d;
}
