<html>

<body>
  <p>
    👋 Hola {{ username }},
  </p>
  <p>
    Por favor confirma tu dirección de correo electrónico para
    activar tu cuenta de EnTiras. Solamente tienes que usar el siguiente enlace:
  </p>
  🔗
  <a href="{{ appUrl }}/api/confirm/{{ token }}">
    {{ appUrl }}/api/confirm/{{ token }}
  </a>
  <p>
    ⚠️ Si no fuiste tú quien se registró por favor ignora
    este mensaje.
  </p>
</body>

</html>