Hola {{ username }},

Gracias por crear tu cuenta de EnTiras. Pronto podrás empezar a usarla.

Por favor confirma tu dirección de correo electrónico para activar tu cuenta.

Solamente tienes que copiar y pegar el siguiente texto secreto:

{{ token }}

Si no fuiste tú quien se registró por favor ignora este mensaje.