Hola {{ username }},
 
Gracias por crear tu cuenta de EnTiras!
 
Por favor, confirma que recibiste este mensaje para activar tu cuenta.
 
Solamente tienes que copiar y pegar el siguiente texto secreto:
 
{{ token }}
 
Ese texto secreto va a expirar dentro de tres días, pero puedes pedir otro.
 
Si no fuiste tú quien se registró por favor ignora este mensaje.

No hay de que preocuparse, siempre que nadie más tenga accesso a tu cuenta de correo.